@model Backend1.Models.CalcViewModel

@{
    ViewData["Title"] = "Using Service Injection";
}

<h2>Using Service Injection</h2>

<p>Rand Value First: @Model.A</p>
<p>Rand Value Second: @Model.B</p>

<p>Add: @Model.A + @Model.B = @Model.Add</p>
<p>Sub: @Model.A - @Model.B = @Model.Sub</p>
<p>Mult: @Model.A * @Model.B = @Model.Mult</p>
<p>Div: @Model.A / @Model.B = @Model.Div</p>
