@{
    ViewData["Title"] = "PassUsingViewBag";
}

<h2>PassUsingViewBag</h2>

<p>Rand Value First: @ViewBag.A</p>
<p>Rand Value Second: @ViewBag.B</p>

<p>Add: @ViewBag.A + @ViewBag.B = @ViewBag.Add</p>
<p>Sub: @ViewBag.A - @ViewBag.B = @ViewBag.Sub</p>
<p>Mult: @ViewBag.A * @ViewBag.B = @ViewBag.Mult</p>
<p>Div: @ViewBag.A / @ViewBag.B = @ViewBag.Div</p>
