@{
    ViewData["Title"] = "PassUsingViewData";
}

<h2>PassUsingViewData</h2>

<p>Rand Value First: @ViewData["A"]</p>
<p>Rand Value Second: @ViewData["B"]</p>

<p>Add: @ViewData["A"] + @ViewData["B"] = @ViewData["Add"]</p>
<p>Sub: @ViewData["A"] - @ViewData["B"] = @ViewData["Sub"]</p>
<p>Mult: @ViewData["A"] * @ViewData["B"] = @ViewData["Mult"]</p>
<p>Div: @ViewData["A"] / @ViewData["B"] = @ViewData["Div"]</p>
